.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}
.description {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
}
.home-image {
  max-width: 650px;
}

@media screen and (max-width: 1240px) {
  .home-image {
    max-width: 500px;
  }
}
