.home {
  display: flex;
  margin-top: 30px;
}
.container-text {
  padding: 70px;
}
.title {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
}
.description {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
}
.home-image {
  width: 650px;
}
